body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

body li, body p{
    font-size: 20px;
}

.about-section {
    background: url('ab-image3.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.about-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.about-section h1 {
    font-size: 60px;
    font-weight: bold;
    color: #f39c12;
    z-index: 2;
}

.about-section p {
    font-size: 40px;
    z-index: 2;
}

.content, .our-works, .client-reviews {
    padding: 40px 20px;
    background: white;
    color: #333;
    text-align: left;
}

.content h2, .our-works h2, .client-reviews h2 {
    color: #3498db;
}

.content ul {
    list-style-type: square;
    color: #2ecc71;
}

.our-works p, .client-reviews p {
    font-size: 18px;
    line-height: 1.6;
}

.ebere-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #f39c12;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 15px;
    background: #2c3e50;
    color: white;
}